.btn{
    font-family: brandon_light;
    width: 150px;
    height: 40px;
    font-size: 15px;
    border: transparent;
    margin-bottom: 15px;
    cursor: pointer;
    transition: 100ms;
}
.btn-container{
    display: flex;
}
.btn:hover{
    background-color: #D2461c;
}