.btn{
    font-family: brandon_light;
    width: 150px;
    height: 40px;
    font-size: 15px;
    border: transparent;
    margin-bottom: 15px;
    cursor: pointer;
}
.btn-container{
    display: flex;
    margin-top: 70px;
}