.contact-lists{
    display: flex;
    justify-content: space-around;
    list-style: none; 

    width: 1000px;
    margin :auto auto

}
.contact-list{
    margin: 0;
    text-decoration: none;
    color: #282828;



  
  
}
.contact-list ul li{
    margin-top: 0;
    text-decoration: none;
    text-align: center;
    list-style: none; 
    font-size: small;
}
.contact-subheader{
 margin-bottom: 30px;
}
ul{
    padding: 0;
}
.contact-detail li{
    
    margin-bottom: 5px;
    
}
.contact-subheader p{
    font-size: 17px;
    margin: 0 auto;
   }