.main-container{
    border-top: 1px solid #afafaf
}
.contact-header{
    
          text-align: 'center';
          font-family: 'brandon_light';
          font-size: 30px;
        letter-spacing: 2px;
          text-align: center;
          margin-top: 45px;

}