@font-face {
    font-family: 'Brandon_reg';
    src: url('../../assets/font/Brandon_reg.otf');
}
  @font-face {
    font-family: 'Brandon_bld';
    src: url('../../assets/font/Brandon_bld.otf'); }
  @font-face {
    font-family: 'Brandon_light';
    src: url('../../assets/font/Brandon_light.otf');
  }
h3{
font-family: 'Brandon_light';
font-weight:lighter;
color : #ffffff;
font-size: 17px;
letter-spacing:5px;
margin: 0;

}
.banner{
    background-color: #282828;
    text-align: center;
    padding: 0.8rem;
    transition: opacity 0.5s ease-in-out;
    
}
h1{
  text-align: center;
  font-family: 'Brandon_light';
  letter-spacing:10px;
  font-size: 60px;
  margin-bottom: 0;
}
