@font-face {
  font-family: 'Brandon_reg';
  src: url('./assets/font/Brandon_reg.otf')
}
@font-face {
  font-family: 'Brandon_bld';
  src: url('./assets/font/Brandon_bld.otf') }
@font-face {
  font-family: 'Brandon_light';
  src: url('./assets/font/Brandon_light.otf')
}